<div class="container">
  <div class="row">
    <div class="header-row1">
      <input class="search-box" matInput type="search" placeholder="Search" aria-label="Search">
        <button mat-button>Group View</button>
     <p>Model</p>
     <p>Document</p>
     <button mat-button>Download All</button>
     <button mat-button>Download Selected</button>
     <button mat-button>Raise Query</button>
    </div>
    <div class="header-row2">
      <button mat-button style="border: 1px solid black;">List View</button>
      <button mat-button class="border-red mx-5 ml-2">Freez/ unfreeze</button>
      <button mat-button class="border-red">Freezed Document</button>
    </div>
  </div>
</div>
