
<div class="container main">
  <mat-card-title class="cen">Document Freez/UnFreez
    <span class="material-icons icon-clear">
    clear
    </span></mat-card-title>
      <hr class="hr">
  <div class="row mt-4">
    <div class="col-5 ">
      <ul class="list-group ">
        <li class="list-group-item">Document | Model | Type | Version</li>
        <li class="list-group-item" style="background-color:rgb(204, 204, 204);">Table 10.docx | APP - Test | Table 10 | 1</li>
        <li class="list-group-item" style="background-color:rgb(204, 204, 204);">Table 11.docx | APP - Test | Table 11 | 1</li>
        <li class="list-group-item" style="background-color:rgb(204, 204, 204);">Table 12.docx | APP - Test | Table 12 | 1</li>
        <li class="list-group-item">Table 2.docx | APP - Test | Table 2 | 1</li>
        <li class="list-group-item">Table 3.docx | APP - Test | Table 3 | 1</li>
        <li class="list-group-item">Table 4E.docx | APP - Test | Table 4 E | 1</li>
        <li class="list-group-item" style="background-color:rgb(204, 204, 204);">Table 5.docx | APP - Test | Table 5 | 1</li>
        <li class="list-group-item">Table 6.docx | APP - Test | Table 6 | 1</li>
        <li class="list-group-item">Table 7.docx | APP - Test | Table 7 | 1</li>
        <li class="list-group-item" style="background-color:rgb(204, 204, 204);">Table 8.docx | APP - Test | Table 8 | 1</li>
        <li class="list-group-item">Table 9.docx | APP - Test | Table 9 | 1</li>
        <li class="list-group-item">Table 10.docx | BASIC-01 | Table 10 | 1</li>
        <li class="list-group-item">Table 11.docx | BASIC-01 | Table 11 | 1</li>
        <li class="list-group-item" style="background-color:rgb(204, 204, 204);">Table 12.docx | BASIC-01 | Table 12 | 1</li>
        <li class="list-group-item">Table 2.docx | BASIC-01 | Table 2 | 1</li>
        <li class="list-group-item">Table 3.docx | BASIC-01 | Table 3 | 1</li>
        <li class="list-group-item" style="background-color:rgb(204, 204, 204);">Table 4E.docx | BASIC-01 | Table 4 E | 1</li>
        <li class="list-group-item">Table 5.docx | BASIC-01 | Table 5 | 1</li>
      </ul>
    </div>
    <div class="col-2 box-2 mt-3">
      <h2 >Freez</h2>
      <span class="material-icons" style="font-size:68px; ">
        arrow_forward
        </span>
      <h2>UnFreez</h2>
      <span class="material-icons mb-4" style="font-size:68px; text-align: center;">
        arrow_backward
        </span>
      <button mat-button class="button-bottom my-3">Save</button>
      <button mat-button class="button-bottom">Cancel</button>

    </div>
    <div class="col-5">
      <ul class="list-group ">
        <li class="list-group-item">Document | Model | Type | Version</li>
        <li class="list-group-item">Table 6.docx | BASIC-01 | Table 6 | 1</li>
        <li class="list-group-item">Table 7.docx | BASIC-01 | Table 7 | 1</li>
        <li class="list-group-item">Table 8.docx | BASIC-01 | Table 8 | 1</li>
        <li class="list-group-item" style="background-color:rgb(204, 204, 204);">Table 9.docx | BASIC-01 | Table 9 | 1</li>
        <li class="list-group-item">Table 2.docx | Celerio XE | Table 2 | 1</li>
        <li class="list-group-item" style="background-color:rgb(204, 204, 204);">Table 10.docx | F- Traveller Plus | Table 10 | 1</li>
        <li class="list-group-item" style="background-color:rgb(204, 204, 204);">Table 11.docx | F- Traveller Plus | Table 11 | 1</li>
        <li class="list-group-item">Table 12.docx | F- Traveller Plus | Table 12 | 1</li>
        <li class="list-group-item">Table 2.docx | F- Traveller Plus | Table 2 | 1</li>
        <li class="list-group-item" style="background-color:rgb(204, 204, 204);">Table 22.docx | F- Traveller Plus | Table 22 | 1</li>
        <li class="list-group-item" style="background-color:rgb(204, 204, 204);">Table 22A.docx | F- Traveller Plus | Table 22 A | 1</li>
        <li class="list-group-item" style="background-color:rgb(204, 204, 204);">Table 22B.docx | F- Traveller Plus | Table 22 B | 1</li>
        <li class="list-group-item">Table 22C.docx | F- Traveller Plus | Table 22 C | 1</li>
        <li class="list-group-item">Table 22D.docx | F- Traveller Plus | Table 22 D | 1</li>
      </ul>
    </div>
  </div>
</div>
